header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-size: 100% 100%;
    height: 70px;
    width: 150px;
}